$primary-color: #0075FF;
$secondary-color: #FFC700;
$primary-background-color: #010632;
$secondary-background-color: #060D49;
$pure-white: #FFFFFF;
$pure-black: #000000;
$slider-color: #B9B9B9;
$modal-text-color: #7C7C7C;
$modal-input-background-color: #E2E2E2;