.welcome__section {
    height: 600px;
    width: 480px;
    background-image: url(../../images/welcome_section_background_desktop.png);
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        @include h2_styles();
        text-align: center;
        color: $secondary-color;
        padding-top: 170px;

        &__span {
            color: $primary-color;
        }
    }
}


@media (min-width: 1200px) {
    .welcome__section {
        height: 720px;
        background-image: url(../../images/welcome_section_background_desktop.png);
        background-repeat: no-repeat;
        background-position: center;
    
        &__title {
            @include h1_styles();
            text-align: center;
            color: $secondary-color;
            padding-top: 170px;
    
            &__span {
                color: $primary-color;
            }
        }
    }
}

