* {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

h1, h2, h3, p, ul, li, img, a, button, input, svg {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: $primary-background-color;
}

h1, h2, h3, p, a {
    color: $pure-white;
}

h1 {
    @include h1_styles();
}

h2 {
    @include h2_styles();
}

h3 {
    @include h3_styles();
}

button {
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}